SHOULD_VALIDATE_SIGNATURE=true
WEBHOOK_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_API_BASE_URL=https://api.telegram.org
TELEGRAM_GROUP_ID=
TELEGRAM_TOPIC_ID=
PROTECT_MESSAGE_CONTENT=false
SENTRY_URL=https://sentry.io
SENTRY_ORGANIZATION_SLUG=
SENTRY_INTEGRATION_TOKEN=
SELF_SENTRY_DSN=
SELF_SENTRY_ENVIRONMENT=production
SELF_SENTRY_RELEASE=
SELF_SENTRY_TRACES_SAMPLE_RATE=
SELF_SENTRY_DEBUG=false
MESSAGE_TIME_ZONE=Asia/Jakarta
# trace | debug | info | warn | error | fatal | silent
LOG_LEVEL=info
HTTP_PORT=6500
HTTP_HOSTNAME="0.0.0.0"
